{{ define "main" }}
<main class="page-main pa4" role="main">
    <section class="page-content center">
        {{ with .Params.title }}<h1 class="f2 f1-ns measure-narrow lh-solid">{{ . }}</h1>{{ end }}
        <p class="f4 mv4 lh-copy black-50">Dans les années 60, le chiropracteur américain, Georges GOODHEART découvre que tout stress, tout déséquilibre peut abaisser le tonus musculaire. Un lien se crée entre la conception orientale (énergie) et la conception occidentale (test musculaire).</p>
        <p class="f4 mv4 lh-copy black-50">La kinésiologie est une technique qui aborde l'ensemble de la personne au lieu de s'intéresser uniquement à sa difficulté.</p>        
    </section>
</main>
{{ end }}


