<form name="{{ .Title | lower }}-submission" id="contact-form" method="post" accept-charset="utf-8"  data-netlify="true">
  <fieldset id="{{ .Title | lower }}-inputs">
    <legend>{{ .Params.Name }}</legend>
    <label for="full-name">Full Name</label>
    <input type="text" name="name" id="name" placeholder="Nom complet" required>
    <label for="email">Address Email</label>
    <input type="email" name="email" id="email" placeholder="votre@email.com" required>
    <label for="tel">Numéro de téléphone</label>
    <input type="tel" name="tel" id="tel" placeholder="0301020304" required>
    <label for="text">Message</label>
    <textarea rows="6" name="text" id="text" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required></textarea>
  </fieldset>
  <input type="submit" value="{{ if .Params.submit_button_label }}{{ .Params.submit_button_label }}{{ end }}">
</form>

<script>
  document
  .querySelector("form")
  .addEventListener("submit", handleSubmit);

const handleSubmit = (e) => {
  e.preventDefault();
  let myForm = document.getElementById("contact-form");
  let formData = new FormData(myForm);
  fetch("/.netlify/functions/send-email", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => console.log("Form successfully submitted"))
    .catch((error) => alert(error));
};
</script>