{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center">
      <div class="mh5-l w-50-l">
        <h1 class="f2 f1-ns measure lh-solid">{{ .Title }}</h1>
        <p class="f4 mv4 lh-copy black-50">{{ .Description | markdownify }}</p>

        <form id="contact-form">
          <fieldset id="{{ .Title | lower }}-inputs">
            <legend>{{ .Params.Name }}</legend>
            <label for="full-name" class="f5 lh-copy">Nom complet</label>
            <input type="text" name="name" id="name" placeholder="Nom complet" required>
            <label for="email" class="f5 lh-copy">Addresse Email</label>
            <input type="email" name="email" id="email" placeholder="votre@email.com" required>
            <label for="tel" class="f5 lh-copy">Numéro de téléphone</label>
            <input type="text" name="tel" id="tel" placeholder="0301020304" required>
            <label for="text" class="f5 lh-copy">Message</label>
            <textarea rows="6" name="text" id="text" placeholder="Description de votre demande de renseignements et rendez-vous" required></textarea>
          </fieldset>
          <input type="submit" value="{{ if .Params.submit_button_label }}{{ .Params.submit_button_label }}{{ end }}">
        </form>
      </div>
      <div class="tc w-50-l">
        <p class="f4 mv2 lh-copy black-50">1 boulevard Lundy,</p>
        <p class="f4 mv2 lh-copy black-50">51100 Reims</p>
        <p class="f4 mv2 lh-copy black-50">03 26 88 26 81</p>      
        <div style="height: 276px;" id="savvyMapCanvas" class="google-map--contact"></div>
      </div>
    </div>
  </section>
</main>



<script>
  const form = document.querySelector('form')
  var sending= false;
  
  form.addEventListener('submit', event => {
    if (document.getElementById("name").value == "") {
      return;
    }
    event.preventDefault()
    if (sending == false) {
      sending = true;
      fetch("/.netlify/functions/send-email", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: document.getElementById("name").value,
          email: document.getElementById("email").value,
          tel: document.getElementById("tel").value,
          text: document.getElementById("text").value
        }),
      })
      .then((response) => {
        if (response.ok) {
          document.getElementById('contact-form').reset();
          return response.text();
        } else {
          throw new Error('Something went wrong');
        }
      })
      .then(() => {
        console.log("Form successfully submitted"); 
        sending = false;
        alert('Message envoyé')
      })
      .catch((error) => {
        alert(error);
      });
    }
    return false;
  });
</script>
<script>
window.document.onload = function(e){
    const googleMapConfig = {
        // change map marker location here
        markerLocation: {
            lat: 49.2577506,
            lng: 4.038619
        },
        // uncomment line below if you want use image or svg file as a marker
        //markerIcon:{ url:'assets/svg/map-marker.svg' },
        zoom: 16 // change map zoom value
    };

    let mapElement = document.getElementById('savvyMapCanvas');
    const mapCfg = googleMapConfig || {},
    markerPositionCfg = mapCfg.markerLocation,
    markerPosition = new google.maps.LatLng(markerPositionCfg.lat, markerPositionCfg.lng),
    map = new google.maps.Map(mapElement, {
        zoom: mapCfg.zoom ? mapCfg.zoom : 8,
        center: markerPosition,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
    }),
    markerColor = null,
    iconCfg = mapCfg.markerIcon ? mapCfg.markerIcon : {
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, // google.maps.SymbolPath.CIRCLE,
        fillColor: markerColor ? markerColor : '#00bdbd',
        fillOpacity: 1,
        strokeWeight: 0,
        scale: 12
    },
    marker = new google.maps.Marker({
        map: map,
        icon: iconCfg,
        clickable: false,
        position: markerPosition
    });
 }
</script>
{{ end }}
