<footer class="site-footer pa4 bt b--transparent" role="contentinfo">
  <nav class="db dt-l w-100">
    {{ if .Site.Params.socialInFooter }}
    <div class="site-social-links db dtc-l v-mid w-100 w-33-l tc pv2 pv0-l mv0">
      {{ partial "shared/social-links.html" . }}
    </div>
    {{ end }}
    <div class="site-links f7 db dtc-l v-mid w-100 w-67-l tc tr-l pv2 pv0-l mv0">
      {{ range $.Site.Data.navigation.footer }}
      <a class="dib pv1 ph2 link" href="{{ .url }}" title="{{ .title }}">{{ .name }}</a>
      {{ end }}
      <br/>
      {{ partial "shared/attribution.html" }}
    </div>
    
  </nav>
</footer>
