{{ define "main" }}
<main class="page-main pa4" role="main">
    <section class="page-content mw9 center">
        <div class="flex-l items-center">
            <div class="mh5-l w-100-l">
                {{ with .Params.title }}<h1 class="f2 f1-ns measure-narrow lh-solid">{{ . }}</h1>{{ end }}
                <p class="f4 mv4 lh-copy black-50">La kinésiologie est une méthode qui permet de rétablir l’équilibre physique, émotionnel et mental.</p>
                <p class="f4 mv4 lh-copy black-50">Notre corps est une merveilleuse machine qui travaille sans cesse à retrouver son équilibre. En situation de stress, notre fonctionnement se bloque et nous enferme dans des schémas réactionnels du passé. Nous ne trouvons plus en nous les possibilités et ressources qui nous permettent de faire face.</p>
                <p class="f4 mv4 lh-copy black-50">Dans une séance, rien n’est imposé tout ce qui est proposé est vérifié par le test musculaire. Le test est un moyen de rentrer en communication avec la mémoire inscrite dans notre corps afin d’identifier quels événements de votre vie vous ont marqué.</p>
                <p class="f4 mv4 lh-copy black-50">Cela redonne à chacun le CHOIX de retrouver un équilibre pour retrouver une vie plus harmonieuse.</p>
                <p class="f4 mv4 lh-copy black-50">Le test musculaire est la base de la kinésiologie. Par le test musculaire, la kinésiologie recherche : les blocages conscients ou inconscients, - leurs origines mentales, physiques ou émotionnelles, - la manière de rétablir cet équilibre.</p>
                <p class="f4 mv4 lh-copy black-50">En équilibrant un niveau, c’est l’ensemble du corps qui en bénéficie. Nous retrouvons toute notre énergie pour faire face à nos blocages et pour mettre en place de nouveaux comportements.</p>
                <p class="f4 mv4 lh-copy black-50">La kinésiologie est une technique qui aborde l'ensemble de la personne au lieu de s'intéresser uniquement à sa difficulté.</p>        
                <p class="f4 mv4 lh-copy black-50">Dans les années 60, le chiropracteur américain, Georges GOODHEART découvre que tout stress, tout déséquilibre peut abaisser le tonus musculaire. Un lien se crée entre la conception orientale (énergie) et la conception occidentale (test musculaire).</p>
                <p class="video-container">
                    <iframe src="https://www.youtube.com/embed/S6oW9KlRK7s?rel=0" frameborder="0" allowfullscreen="" class="video"></iframe>
                </p>
            </div>
        </div>
    </section>
</main>
{{ end }}


